body {
    background: #ec939318;
    overflow-x: hidden
}
nav {
    font-family: bookman;
    font-size: 20px;
}
/* .navbar {
    margin-bottom: 0px !important;
    z-index: 1;
} */
.navbar button{
    font-family: bookman;
    background: #ec9393;
    border-color: #ec9393;
}
.person_row {
    background: white;
}
.person_row div:first-child {
    padding: 0;
}
.main_logo {
    font-family: palatino;
    font-size: 50px;
    color: #ec9393;
    /* text-shadow: 1px 1px 1px rgba(250, 234, 234, 0.527); */
}
.person_main {
    max-width: 100%;
    max-height: 100%;
}
.person_content h1 {
    margin-top: 15%;
    font-family: palatino;
    margin-bottom: 10%;
}
.person_content {
    text-align: justify;
    font-family: bookman;
}
.person_content form {
    margin-top: 10%;
    width: 60%;
    margin-left: 20%;
}
.padding-out {
    padding: 0px;
}

.place-service {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.borderBox {
    margin: 10px;
}

.bodyCard {
    height: 160px;
    text-align: center;
}

.titleCard {
    height: 50px;
    text-align: center;
}

.btnCard {
    margin-left: 70px;
}

.servicePage {
    max-width: 800px;
    max-height: 100%;
    position: fixed;
    z-index: 1000;
    background:#ec9393;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    overflow-y: auto;
}

.servicePageInfo {
    display:inline-block;
    vertical-align:middle;
    width: 100%;
    text-align: center; 
    margin-top:20px;
}

.servicePageInfo p {
    text-align: justify;
}

.buttonClose {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    cursor: pointer;
}

.buttonClose:hover {
    opacity: 1;
}

.buttonClose:before, .buttonClose:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}

.buttonClose:before {
    transform: rotate(45deg);
}

.buttonClose:after {
    transform: rotate(-45deg);
}

.firstColum {
    height: auto;
    background: white;
    padding: 0;
}

.secondColum {
    height: auto;
    text-align: center;
}

.navbar-collapse.collapse.in {
    display: block!important;
    text-align: right
}

.priceList {
    width: 100%; 
    max-width: 2015px; 
    max-height: 2843px;
}
